@using Shortlist.Web.Models
@{
    // Skeleton: just static text for now
    // Later: show budget/distance/priorities from session/model
}
<div class="summary">
    <strong>Current Filters:</strong>
    <span>(will show Budget / Distance / Priorities here)</span>
</div>
