<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Shortlist - Login</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @RenderBody()
    <script src="~/js/site.js"></script>
</body>
</html>